{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Serch Word:
        <dd><input type=text size=30 name=q>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2><a href="{{ entry.url }}"><img src="{{ entry.imgurl }}"></a><a href="{{ entry.url }}">{{ entry.name }}</a></h2>{{ entry.catch }}
  {% else %}
    <li><em>Unvelievable. No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}

